.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}
.maincard {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 50%;
  min-width: 300px;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.maincardinput {
  padding: 10px;
  border-radius: 5px;
}
.taskbutton {
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.todocard {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.cardtask {
  display: flex;
  justify-content: space-between;
}
.deleteBtn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
  width: 50px;
}
